*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 95%;
  margin: auto;
}
.sp-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 22px;
}
header {
  top: 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  font-size: 18px;
  font-weight: 120;
  padding: 1rem;
}
header nav ul li:last-child {
  padding-right: 0; 
}
header nav ul li a {
  color: #000;
}
header nav ul li a div {
  width: 35px;
  height: 3px;
  background-color: #000;
  margin: 6px 0;
}

.sec-bg {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}
section div div p {
  font-size: 3rem;
  margin-bottom: 50px;
}
section div div button {
  background-color: white;
  height: 60px;
  width: 180px;
  border: none;
}
section div div img {
  height: 280px;
  width: 250px;
  border-radius: 50%;
}
